<a href="https://colab.research.google.com/github/rtajeong/M1_2025/blob/main/Ch3_Python_rev1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

In [ ]:
list( range(1,5))

[1, 2, 3, 4]

In [ ]:
import numpy as np
np.arange(1,5)

array([1, 2, 3, 4])

## 파이썬 스타일 코딩 예
- 같은 기능이라도 더 간결하고 효율적으로 작성하는 방법

- 반복문: 인덱스 대신 직접 순회

In [ ]:
# 일반 방식 (리스트의 인덱스를 이용해 각 항목에 접근)
my_list = [10, 20, 30]
for i in range(len(my_list)):
    print(my_list[i])

# 파이썬 스타일 (항목 자체를 직접 순회)
my_list = [10, 20, 30]
for item in my_list:
    print(item)

10
20
30
10
20
30

- 리스트 컴프리헨션: 간결한 리스트 생성

In [ ]:
# 일반 방식
squares1 = []
for i in range(1, 6):
    squares1.append(i * i)

print(squares1)

# 파이썬 방식
squares2 = [i * i for i in range(1, 6)]
print(squares2)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

- 튜플 언패킹: 임시 변수 없이 두 변수 값 교환

In [ ]:
a, b = 100, 200

a, b = b, a

- 조건 표현: 명시적인 것이 암시적인 것보다 낫다

In [ ]:
# 'in' 키워드로 의도를 명확히 드러낸다.
my_fruits = ['apple', 'pear', 'persimmon']

if 'apple' in my_fruits:
    print("사과가 있습니다.")

사과가 있습니다.

- 딕셔너리 값 안전하게 가져오기:
  - .get() 활용 딕셔너리에서 특정 키(key)의 값(value)을 가져올 때, 해당 키가 존재하지 않으면 오류가 발생한다. 이를 피하기 위해 보통 if문으로 키가 있는지 먼저 확인한다. 하지만 .get() 메서드를 사용하면 이 과정을 한 줄로 줄이고, 키가 없을 때 반환할 기본값까지 설정할 수 있어 훨씬 안전하고 깔끔하다.

In [ ]:
# 일반 방식
user_profile = {'name': '앨리스', 'age': 25}

if 'email' in user_profile:
    email = user_profile['email']
else:
    email = '이메일 정보 없음'

print(email)

# 파이썬 방식
user_profile = {'name': '앨리스', 'age': 25}

# .get()을 사용해 'email' 키를 찾고, 없으면 기본값으로 '이메일 정보 없음'을 사용한다.
email = user_profile.get('email', '이메일 정보 없음')

print(email)

이메일 정보 없음
이메일 정보 없음

- 조건부 값 할당: 조건부 표현식 (Ternary Operator)
  - 조건에 따라 변수에 다른 값을 할당할 때 if-else 블록을 길게 작성하는 대신, 파이썬의 조건부 표현식을 사용하면 한 줄로 간결하게 표현

In [ ]:
# 일반 방식
age = 20

if age >= 19:
    status = '성인'
else:
    status = '미성년자'
print(status)

# [True일 때 값] if [조건] else [False일 때 값]
status = '성인' if age >= 19 else '미성년자'
print(status)

성인
성인

- 문자열 리스트 합치기: str.join()
  - 리스트에 담긴 여러 문자열을 하나로 합칠 때, for 루프 안에서 + 연산자를 반복적으로 사용하는 것은 매우 비효율적이다. 매번 새로운 문자열 객체가 메모리에 생성되기 때문이다. 구분자(separator) 문자열의 .join() 메서드를 사용하는 것이 훨씬 빠르고 파이썬다운 방법이다.

In [ ]:
# 일반 방식
words = ['데이터', '사이언스는', '재미있다']
sentence = ''
for word in words:
    sentence += word + ' ' # 루프가 돌 때마다 새로운 문자열이 생성됨

print(sentence.strip()) # 마지막 공백 제거 필요
# 퍼이썬 방식
words = ['데이터', '사이언스는', '재미있다']

# ' '(공백)을 기준으로 words 리스트의 항목들을 합친다.
sentence = ' '.join(words)
print(sentence)

데이터 사이언스는 재미있다
데이터 사이언스는 재미있다

- 파일 처리: with 구문 사용
  - with 구문을 사용하면, 해당 블록이 끝나거나 중간에 오류가 발생하더라도 파이썬이 자동으로 파일을 닫아주므로 코드가 훨씬 안전하고 간결

In [ ]:
# 일반 방법
f = open('my_file1.txt', 'w')
try:
    f.write('파이썬은 편리하다.')
finally:
    f.close() # 에러가 발생해도 반드시 실행됨

# 파이썬 권장 방식
# with 블록이 끝나면 f.close()가 자동으로 호출된다.
with open('my_file2.txt', 'w') as f:
    f.write('파이썬은 편리하다.')

## 기본 자료형 (Basic Variables)

In [ ]:
student_count = 75      # int (정수형)
average_score = 85.5    # float (실수형)
is_registered = True    # bool (불리언)
has_permission = False  # bool (불리언)

In [ ]:
# 문자열 (string type) - 현대적인 문자열 처리 (f-string)

user_name = "홍길동"
user_age = 28

# f-string을 사용하여 변수와 문자열을 조합한다.
profile_message = f"사용자 이름은 {user_name}이고, 나이는 {user_age}세입니다."

print(profile_message)
# 출력 결과: 사용자 이름은 홍길동이고, 나이는 28세입니다.

사용자 이름은 홍길동이고, 나이는 28세입니다.

- int (arbitrary-precision, 임의 정밀도): 메모리가 허용하는 한, 얼마든지 큰 정수를 저장 가능
- float (ieee-754 double) 64-bit

In [ ]:
# 일반적인 크기의 정수
small_int = 100
print(f"작은 정수 타입: {type(small_int)}")

# 64비트 범위를 훨씬 넘어서는 매우 큰 정수
large_int = 2 ** 1000
print(large_int) # 매우 긴 숫자가 출력됨
print(f"큰 정수 타입: {type(large_int)}")

작은 정수 타입: <class 'int'>
10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376
큰 정수 타입: <class 'int'>

- Numpy int 는 기본 64-bit (in 64-bit OS) 이지만 명시적으로 타입 지정 가능
- Numpy float : 64-bit

In [ ]:
import numpy as np

# 64비트 OS에서 실행 시, 기본적으로 int64로 생성됨
arr_default = np.array([10, 20, 30])
print(f"기본 정수 타입: {arr_default.dtype}")

# 타입을 32비트로 명시적으로 지정
arr_32 = np.array([10, 20, 30], dtype=np.int32)
print(f"32비트 정수 타입: {arr_32.dtype}")

# 타입을 8비트로 명시적으로 지정
arr_8 = np.array([10, 20, 30], dtype=np.int8)
print(f"8비트 정수 타입: {arr_8.dtype}")

# float
arr_default2 = np.array([10., 20., 30.])
print(f"기본 실수 타입: {arr_default2.dtype}")

기본 정수 타입: int64
32비트 정수 타입: int32
8비트 정수 타입: int8
기본 실수 타입: float64

## 자료구조(Container Type Variables))

### String (문자열)

In [ ]:
my_string = "Hello"

# 인덱싱: 0번 위치의 문자에 접근
print(my_string[0])

# 슬라이싱: 1번부터 3번 전까지의 부분 문자열 추출
print(my_string[1:3]) # 출력: el

H
el

#### 문자열 형식 저장 방법 (print())

In [ ]:
"a" + "b", 1 + 3

('ab', 4)

In [ ]:
# 참고: 문자열 형식 지정 방법 (String Formatting), print() 에도 적용
name = "Alice"
age = 30

# 방법 1: + 연산자를 이용한 연결 (구식)
print("Name: " + name + ", Age: " + str(age))

# 방법 2: % 포맷팅 (C언어 스타일)
print("Name: %s, Age: %d" % (name, age))

# 방법 3: str.format() 메서드
print("Name: {}, Age: {}".format(name, age))

# *** 방법 4: f-string (Formatted String Literals) 가장 권장되는 방법 ***
# 변수를 직접 삽입
print(f"Name: {name}, Age: {age}")

# 표현식도 바로 사용 가능
print(f"In 5 years, she will be {age + 5} years old.")

Name: Alice, Age: 30
Name: Alice, Age: 30
Name: Alice, Age: 30
Name: Alice, Age: 30
In 5 years, she will be 35 years old.


### 리스트

In [ ]:
# 학생들의 시험 점수를 담은 리스트
scores = [85, 92, 78, 100, 88]

# 인덱싱: 0부터 시작하므로, 첫 번째 학생의 점수를 가져온다.
first_student_score = scores[0]
print(f"첫 번째 학생의 점수: {first_student_score}") # 출력: 85

# 슬라이싱: 1번 인덱스부터 3번 인덱스 전까지(1, 2)의 데이터를 가져온다.
middle_scores = scores[1:3]
print(f"중간 그룹 점수: {middle_scores}") # 출력: [92, 78]

# 값 변경: 3번째 학생(인덱스 2)의 점수를 80점으로 변경한다.
scores[2] = 80
print(f"수정된 점수 리스트: {scores}") # 출력: [85, 92, 80, 100, 88]

첫 번째 학생의 점수: 85
중간 그룹 점수: [92, 78]
수정된 점수 리스트: [85, 92, 80, 100, 88]

In [ ]:
# 리스트 끝에 새로운 점수 추가하기
scores.append(95)
print(f"점수 추가 후: {scores}") # 출력: [85, 92, 80, 100, 88, 95]

# 리스트에 담긴 데이터의 개수 확인하기
num_students = len(scores)
print(f"전체 학생 수: {num_students}") # 출력: 6

점수 추가 후: [85, 92, 80, 100, 88, 95]
전체 학생 수: 6

### 딕셔너리

In [ ]:
# 한 학생의 정보를 담은 딕셔너리
student = {
    'name': '김데이터',
    'score': 92,
    'major': '컴퓨터공학'
}

# 키를 이용해 값에 접근하기
student_name = student['name']
print(f"학생 이름: {student_name}") # 출력: 김데이터

# 새로운 키-값 쌍 추가 또는 수정하기
student['age'] = 21   # 'age' 키가 없으면 새로 추가
student['score'] = 95 # 'score' 키가 이미 있으면 값을 수정
print(f"수정된 학생 정보: {student}")

학생 이름: 김데이터
수정된 학생 정보: {'name': '김데이터', 'score': 95, 'major': '컴퓨터공학', 'age': 21}

- .get() 메서드를 사용하면 오류 없이 안전하게 값을 가져오고, 키가 없을 때 사용할 기본값도 지정할 수 있다

In [ ]:
# 'email' 키는 없으므로 기본값 '정보 없음'이 반환된다.
email = student.get('email', '정보 없음')
print(f"학생 이메일: {email}") # 출력: 정보 없음

학생 이메일: 정보 없음

### 튜플(Tuple) and 세트 (Set)

In [ ]:
# 튜플: 위도, 경도 정보 (변경되면 안 됨)
position = (37.5665, 126.9780)

# 세트: 중복된 과일 이름은 자동으로 하나만 남는다.
fruits = {'apple', 'banana', 'apple', 'orange'}
print(fruits)

{'orange', 'apple', 'banana'}

## 연산자
- 산술 연산자: +: 덧셈, -: 뺄셈, *: 곱셈, /: 나눗셈, **: 거듭제곱, //: 나눗셈의 몫, %: 나눗셈의 나머지 (모듈로 연산)
- 비교 연산자: ==, !=, >, <, >=, <=
- 논리 연산자: and, or, not
- (복합) 할당 연산자: =, +=, -=, *=, /=

In [ ]:
a, b = 21, 5
print(a/b, a//b, a%b)  # division, integer division, remainder
a += 2   # a = a+2
print(a)

4.2 4 1
23

## Control Flow

- if, elif, else

In [ ]:
# 점수에 따라 학점을 부여하는 프로그램
score = 85

if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
else: # 70점 미만인 모든 경우
    grade = 'F'

print(f"당신의 점수는 {score}점이고, 학점은 '{grade}'입니다.")
# 출력: 당신의 점수는 85점이고, 학점은 'B'입니다.

당신의 점수는 85점이고, 학점은 'B'입니다.

- match-case (Python 3.10+의 새로운 기능)

In [ ]:
# 상태 코드에 따른 메시지 처리
status_code = 404

match status_code:
    case 200:
        message = "요청 성공"
    case 404:
        message = "페이지를 찾을 수 없습니다."
    case 500:
        message = "서버 내부 오류"
    case _: # 위의 어떤 case와도 일치하지 않는 경우 (if문의 else와 유사)
        message = "알 수 없는 상태"

print(message)

페이지를 찾을 수 없습니다.

- for, while

In [ ]:
# 학생 점수 리스트의 총합과 평균 계산하기
scores = [85, 92, 80, 100, 88]
total_score = 0

# scores 리스트에서 점수를 하나씩 꺼내 score 변수에 담아 반복한다.
for score in scores:
    total_score += score # 꺼낸 점수를 total_score에 누적

average_score = total_score / len(scores)

print(f"총점: {total_score}, 평균: {average_score}")

총점: 445, 평균: 89.0

- range()

In [ ]:
# "Hello"를 3번 출력하기
for i in range(3):  # 0, 1, 2 세 번 반복
    print(f"{i+1}번째 Hello")

1번째 Hello
2번째 Hello
3번째 Hello

In [ ]:
# 숫자가 1이 될 때까지 계속 2로 나누는 과정
n = 100
count = 0

while n > 1:
    n = n // 2
    count += 1
    print(f"{count}번 나눈 결과: {n}")

print(f"1보다 커서 총 {count}번 반복했습니다.")

1번 나눈 결과: 50
2번 나눈 결과: 25
3번 나눈 결과: 12
4번 나눈 결과: 6
5번 나눈 결과: 3
6번 나눈 결과: 1
1보다 커서 총 6번 반복했습니다.

## List comprehension

- for 루프를 한 줄에

In [ ]:
# 일반적인 방식
numbers = [1, 2, 3, 4, 5]
squares1 = []
for num in numbers:
    squares1.append(num ** 2)
print(f"제곱 리스트: {squares1}")

제곱 리스트: [1, 4, 9, 16, 25]

In [ ]:
# List comprehension
# numbers 리스트에서 num을 하나씩 꺼내 num ** 2 로 만들어 새 리스트를 만든다.
squares2 = [num ** 2 for num in numbers]

print(f"제곱 리스트 (컴프리헨션): {squares2}")

제곱 리스트 (컴프리헨션): [1, 4, 9, 16, 25]

- 조건문 추가

In [ ]:
# 일반적인 방식
even_squares = []
for i in range(1, 11):
    if i % 2 == 0: # 짝수인지 확인하는 조건문
        even_squares.append(i * i)

print(f"짝수의 제곱 리스트: {even_squares}")

# List comprehension
# 1부터 10까지의 i 중에서, i가 짝수일 경우에만 i * i 를 수행한다.
even_squares = [i **2 for i in range(1, 11) if i % 2 == 0]

print(f"짝수의 제곱 리스트 (컴프리헨션): {even_squares}")

짝수의 제곱 리스트: [4, 16, 36, 64, 100]
짝수의 제곱 리스트 (컴프리헨션): [4, 16, 36, 64, 100]

- 다양한 형태 응용

In [ ]:
A = range(6); B = ['a','b','c']; C = [(3,4),(7,24)]

print([(x, x**2) for x in A if x % 2 == 0])
print([(x, y) for x in A for y in B if x == 3])

import math
print([math.sqrt(x*x + y*y) for x, y in C])

print({val:i for i, val in enumerate(B)})
print([x if x < 2 else -1 for x in A])

[(0, 0), (2, 4), (4, 16)]
[(3, 'a'), (3, 'b'), (3, 'c')]
[5.0, 25.0]
{'a': 0, 'b': 1, 'c': 2}
[0, 1, -1, -1, -1, -1]

In [ ]:
import numpy as np
[np.sqrt(x*x + y*y) for x, y in C]  # 벡터 연산, 리스트 반환

[np.float64(5.0), np.float64(25.0)]

In [ ]:
import math
type([math.sqrt(x*x + y*y) for x, y in C][0])  # 스칼라 연산, float 반환

float

- np.sqrt(): 벡터 연산 가능
- math.sqrt(): (단일숫자) 연산

In [ ]:
x, y =np.array([1, 2, 3]), np.array([4, 5, 6])
print(np.sqrt(x**2 + y**2))    # 벡터 연산

try:
    math.sqrt(x**2 + y**2)     # only 스칼라 연산
except:
    print ("error: only length-1 arrays can be converted to Python scalars")

[4.12310563 5.38516481 6.70820393]
error: only length-1 arrays can be converted to Python scalars

## 함수(Function)

- 기본 함수 정의 및 호출

In [ ]:
# 점수 리스트를 입력받아 평균을 계산하고 반환하는 함수
def calculate_average(scores_list):
    # 만약 리스트가 비어있으면 0을 반환 (오류 방지)
    if not scores_list:
        return 0

    total = sum(scores_list)
    average = total / len(scores_list)
    return average

# 위에서 정의한 함수를 실제로 호출하여 사용한다.
my_math_scores = [88, 95, 100, 72, 85]
my_eng_scores = [92, 89, 91, 78, 88]

# 함수 호출 시 전달하는 실제 값을 '인자(argument)'라고 한다.
math_avg = calculate_average(my_math_scores)
eng_avg = calculate_average(my_eng_scores)

print(f"나의 수학 평균 점수: {math_avg:.2f}")
print(f"나의 영어 평균 점수: {eng_avg:.2f}")

나의 수학 평균 점수: 88.00
나의 영어 평균 점수: 87.60

- 더 유연한 호출 방식

In [ ]:
def get_final_price(original_price, discount_rate):
    final_price = original_price * (1 - discount_rate)
    return final_price

# 순서대로 전달 (위치 인자)
price1 = get_final_price(50000, 0.2)

# 순서가 바뀌었지만, 키워드로 명시했기 때문에 정확히 작동 (키워드 인자)
price2 = get_final_price(discount_rate=0.2, original_price=50000)

print(f"결과1: {price1}, 결과2: {price2}")

결과1: 40000.0, 결과2: 40000.0

In [ ]:
# discount_rate의 기본값을 0.1 (10%)로 설정 (기본값 파라미터는 마지막에)
def get_final_price_default(original_price, discount_rate=0.1):
    final_price = original_price * (1 - discount_rate)
    return final_price

# 할인율을 생략 -> 기본값 0.1이 적용됨
default_discounted = get_final_price_default(50000)
print(f"기본 할인 적용가: {default_discounted:,.0f}원")

# 할인율을 직접 지정 -> 지정한 값 0.25가 적용됨
special_discounted = get_final_price_default(50000, 0.25)
print(f"특별 할인 적용가: {special_discounted:,.0f}원")

기본 할인 적용가: 45,000원
특별 할인 적용가: 37,500원

In [ ]:
# *args: 받은 모든 숫자의 합계를 구하는 함수

def sum_all(*numbers):
    total = 0
    print(f"받은 숫자들(튜플): {numbers}")
    for num in numbers:
        total += num
    return total

result_sum = sum_all(10, 20, 30, 40, 50, 60)
print(f"총합: {result_sum}")

받은 숫자들(튜플): (10, 20, 30, 40, 50, 60)
총합: 210
--------------------

In [ ]:
sum_all(1,2,3)

받은 숫자들(튜플): (1, 2, 3)

6

In [ ]:
# **kwargs: 받은 모든 정보를 출력하는 함수 (key-value pairs)

def print_profile(**user_info):
    print(f"받은 정보(딕셔너리): {user_info}")

    for key, value in user_info.items():
        print(f"- {key}: {value}")

print_profile(name="김파이", age=30, city="서울", status="재직중", score="100")

받은 정보(딕셔너리): {'name': '김파이', 'age': 30, 'city': '서울', 'status': '재직중', 'score': '100'}
- name: 김파이
- age: 30
- city: 서울
- status: 재직중
- score: 100

## 모듈과 패키지
- mymath 라는 수학 패키지 만들기

In [ ]:
!pwd

/content

In [ ]:
%pwd

'/content'

In [ ]:
!ls -l

total 4
drwxr-xr-x 1 root root 4096 Oct 23 13:40 sample_data

In [ ]:
!mkdir mymath
%cd mymath

/content/mymath

In [ ]:
%%writefile operations.py
def add(a, b):
    """ add two numbers """
    return a + b

def subtract(a, b):
    """ subtract two numbers """
    return a - b

Writing operations.py

In [ ]:
%%writefile geometry.py
PI = 3.14159

def circle_area(radius):
    """ calculate area of the circle """
    return PI * (radius ** 2)

Writing geometry.py

In [ ]:
%%writefile __init__.py
""" this is my own temporary package. it can be empty. """

Writing __init__.py

In [ ]:
%cd ..

/content

In [ ]:
!ls mymath

geometry.py  __init__.py  operations.py

In [ ]:
# main.py

# 방법 1: '패키지.모듈' 형태로 불러오기
import mymath.operations
import mymath.geometry

result1 = mymath.operations.add(10, 5)
result2 = mymath.geometry.circle_area(10)

print(f"방법 1) 10 + 5 = {result1}")
print(f"방법 1) 반지름 10인 원의 넓이: {result2}")
print("-" * 20)

# 방법 2: 'from 패키지.모듈 import 함수' 형태로 특정 기능만 불러오기
from mymath.operations import subtract
from mymath.geometry import PI

result3 = subtract(10, 5)

print(f"방법 2) 10 - 5 = {result3}")
print(f"방법 2) 파이(PI) 값: {PI}")
print("-" * 20)

# 방법 3: 모듈에 별명(alias)을 붙여 사용하기
import mymath.geometry as geo

result4 = geo.circle_area(5)
print(f"방법 3) 반지름 5인 원의 넓이: {result4}")

방법 1) 10 + 5 = 15
방법 1) 반지름 10인 원의 넓이: 314.159
--------------------
방법 2) 10 - 5 = 5
방법 2) 파이(PI) 값: 3.14159
--------------------
방법 3) 반지름 5인 원의 넓이: 78.53975

## 모듈의 import (\_\_name__ 특별 변수로 확인)
- 파이썬 파일이 직접 실행될 때만 특정 코드 블록을 실행하도록 만드는, 매우 중요한 구문.
- 파일이 직접 실행될 때: 터미널에서 python my_script.py처럼 직접 파일을 실행하면, 파이썬 인터프리터는 그 파일의 \_\_name__ 변수에 "\_\_main__"이라는 문자열을 할당
- 파일이 모듈로서 임포트될 때: 다른 파일에서 import my_script와 같이 파일을 불러와서 사용하면, 인터프리터는 그 파일의 __name__ 변수에 모듈 이름(파일 이름)이 할당.

In [ ]:
%%writefile calculator.py

# 이 파일의 __name__ 변수가 무엇인지 항상 출력
print(f"[calculator.py] 모듈의 __name__:", __name__)

def add(a, b):
    return a + b

def main():
    # 이 파일이 직접 실행될 때만 보여줄 예시 코드
    print("계산기 모듈을 직접 실행.")
    result = add(5, 3)
    print(f"테스트 결과: 5 + 3 = {result}")

# 이 파일이 직접 실행될 때만 main() 함수를 호출
if __name__ == "__main__":
    main()

Overwriting calculator.py

In [ ]:
%%writefile main_program.py

# calculator 모듈을 불러와서 add 함수만 사용
import calculator

final_result = calculator.add(10, 20)
print(final_result)

Writing main_program.py

- import 과정: 파이썬에서 모듈을 '메모리로 로드'하는 과정에는 그 모듈의 코드를 처음부터 끝까지 실행하는 단계가 포함된다. (실제로 실행되는 건 top-level 코드이고, 함수/클래스 내부는 정의만 등록됨). 이것이 다른 컴파일 언어의 '라이브러리 로딩'과 다른 핵심적인 차이점이다.
- import 과정:
  - 모듈 검색: sys.modules라는 캐시(cache) 영역을 먼저 확인하여 my_module이 이미 로드되었는지 본다. (이미 로드되었다면 캐시에 저장된 모듈 객체를 즉시 반환하고 모든 과정을 종료한다.(이 때문에 모듈 코드는 단 한 번만 실행된다)
  - 모듈 객체 생성: my_module이라는 이름으로 비어있는 모듈 객체를 만든다.
  - 모듈 코드 실행: my_module.py 파일의 코드를 첫 줄부터 마지막 줄까지 실행한다.(def나 class 구문을 만나면, 함수나 클래스 객체를 생성하여 모듈 객체의 속성으로 추가한다)
  - 캐시에 저장: 실행이 완료되어 모든 변수와 함수가 채워진 모듈 객체를 sys.modules에 저장하여, 다음 import 시 재사용할 수 있도록 한다.

In [ ]:
# 직접 실행
!python calculator.py

[calculator.py] 모듈의 __name__: __main__
계산기 모듈을 직접 실행.
테스트 결과: 5 + 3 = 8

In [ ]:
!python main_program.py

[calculator.py] 모듈의 __name__: calculator
30

# 파이썬 실습

- 학생들의 이름과 점수가 담긴 데이터(딕셔너리 리스트)를
분석하여, 유의미한 통계 정보를 계산하고 출력한다.
- 전체 학생 평균, (2) 최고 득점자, (3) A 학점(90점 이상) 학생 목록 생성을 구현.

In [ ]:
students = [
    {'name': '김철수', 'score': 92},
    {'name': '이영희', 'score': 85},
    {'name': '박민준', 'score': 78},
    {'name': '최유리', 'score': 100},
    {'name': '정다혜', 'score': 88},
    {'name': '홍길동', 'score': 95}
]

def calculate_average(student_list):
    if not student_list:
        return 0

    total_score = sum(student['score'] for student in student_list)
    return total_score / len(student_list)

def find_top_student(student_list):
    if not student_list:
        return None

    return max(student_list, key=lambda student: student['score'])

#####
def get_score(student):
    return student['score']


def find_top_student2(student_list):
    if not student_list:
        return None

    return max(student_list, key=get_score)
#####

def get_high_scorers(student_list, cutoff_score):
    return [student['name'] for student in student_list if student['score'] >= cutoff_score]

avg_score = calculate_average(students)
top_student_info = find_top_student(students)
top_student_info = find_top_student2(students)
A_graders = get_high_scorers(students, 90)

print("--- 학생 성적 분석 결과 ---")
print(f"| 전체 학생 평균 점수: {avg_score:.2f}점")
if top_student_info:
    print(f"| 최고 득점자: {top_student_info['name']} ({top_student_info['score']}점)")
print(f"| A학점(90점 이상) 학생: {', '.join(A_graders)}")
print("--------------------------")

--- 학생 성적 분석 결과 ---
| 전체 학생 평균 점수: 89.67점
| 최고 득점자: 최유리 (100점)
| A학점(90점 이상) 학생: 김철수, 최유리, 홍길동
--------------------------

# Advanced Features

## Call by Object Reference

In [ ]:
# 1. 변경 불가능한(Immutable) 객체를 전달한 경우

def modify_immutable(num):
    print(num, id(num))
    num += 1
    print(num, id(num))  # 새로운 숫자 객체가 생성되고 num이 그 객체를 가리킴

my_number = 10
print(f"호출 전: {my_number}, {id(my_number)}")
modify_immutable(my_number)
print(f"호출 후: {my_number}, {id(my_number)}") # 원본 값은 변하지 않음

호출 전: 10, 11654664
10 11654664
11 11654696
호출 후: 10, 11654664

In [ ]:
# 2. 변경 가능한(Mutable) 객체를 전달한 경우

def modify_mutable(a_list):
    print(a_list, id(a_list))
    a_list.append(4)
    print(a_list, id(a_list))  # 원본 객체 자체의 내용을 변경

my_list = [1, 2, 3]
print(f"호출 전: {my_list}, {id(my_list)}")
modify_mutable(my_list)
print(f"호출 후: {my_list}, {id(my_list)}") # 원본 리스트의 내용이 변경됨

호출 전: [1, 2, 3], 134442955742592
[1, 2, 3] 134442955742592
[1, 2, 3, 4] 134442955742592
호출 후: [1, 2, 3, 4], 134442955742592

## Class and Object

In [ ]:
class Student:
    # __init__ 메서드: 객체가 생성될 때 실행되는 초기 설정 함수
    def __init__(self, name, score):
        self.name = name
        self.score = score

    # 객체의 기능을 정의하는 메서드(클래스 안의 함수)
    def get_info(self):
        return f"이름: {self.name}, 점수: {self.score}점"

# 'Student' 클래스(설계도)로 실제 학생 객체를 생성
student1 = Student("김철수", 92)
student2 = Student("이영희", 85)

# 객체의 메서드 호출
print(student1.get_info())
print(student2.get_info())

이름: 김철수, 점수: 92점
이름: 이영희, 점수: 85점

## Decorator:
- 기존 함수의 코드를 전혀 수정하지 않으면서, 새로운 기능을 덧붙일 수 있게 해주는 방법을 제공

In [ ]:
import time

def timing_decorator(func):
    def wrapper(*args, **kwargs):
        start_time = time.time()
        result = func(*args, **kwargs) # 원래 함수 실행
        end_time = time.time()
        print(f"'{func.__name__}' 함수 실행 시간: {end_time - start_time:.4f}초")
        return result
    return wrapper

@timing_decorator
def complex_task1():
    time.sleep(1.5) # 시간이 걸리는 작업을 시뮬레이션
    print("복잡한 작업 완료!")

def complex_task2():
    time.sleep(1.5) # 시간이 걸리는 작업을 시뮬레이션
    print("복잡한 작업 완료!")

complex_task2()
complex_task1()

복잡한 작업 완료!
복잡한 작업 완료!
'complex_task1' 함수 실행 시간: 1.5004초

## Generators:
- 제너레이터는 대량의 데이터를 한 번에 메모리에 저장하는 대신, 필요할 때마다 데이터를 하나씩 만들어내는 특별한 객체이다. 함수 안에서 return 대신 yield 키워드를 사용해 만들며, 데이터가 대용량이거나 무한한 스트림일 때 메모리를 매우 효율적으로 사용할 수 있게 해준다.

In [ ]:
def number_generator(n):
    for i in range(n):
        yield i # 값을 하나 생성하고 잠시 멈춤

# for 루프가 제너레이터에게 값을 하나씩 요청한다.
for number in number_generator(5):
    print(number)

0
1
2
3
4

- genertors: index  접근 불가 (no indexing)

In [ ]:
def my_gen(n):
    for i in range(n):
        yield i

gen_obj = my_gen(5)
gen_obj

# 아래 코드는 TypeError를 발생시킨다.
# 'generator' object is not subscriptable (제너레이터 객체는 인덱싱할 수 없다)
# print(gen_obj[0])

- 단 한 번의 순회만 가능 (One-time Iteration Only)

In [ ]:
gen_obj = my_gen(3)

print("첫 번째 순회:")
for item in gen_obj:
    print(item)

print("\n두 번째 순회:")
# gen_obj는 이미 소진되었으므로, 이 루프는 아무것도 실행하지 않는다.
for item in gen_obj:
    print(item)
print("-> 아무것도 출력되지 않음")

첫 번째 순회:
0
1
2

두 번째 순회:
-> 아무것도 출력되지 않음

- generators: 데이터에 여러 번 접근해야 하거나 인덱스를 사용해야 한다면, 제너레이터를 리스트로 변환해야 한다. (여러번 접근이 필요하면 다시 함수를 호출하면 됨)

In [ ]:
gen_obj = my_gen(5)
data_list = list(gen_obj) # 제너레이터를 리스트로 변환

print(data_list)      # 출력: [0, 1, 2, 3, 4]
print(data_list[0])   # 이제 인덱스 접근이 가능

[0, 1, 2, 3, 4]
0

# 코드 예제

- monte carlo simulation

In [ ]:
import random

def estimate_pi(n):
    inside = 0
    for _ in range(n):
        x = random.random()
        y = random.random()
        if x**2 + y**2 <= 1:
            inside += 1
    return (4 * inside) / n

estimate_pi(100000)

3.1276

In [ ]:
# numpy array 의 벡터 연산 이용
n = 100000
x, y = np.random.rand(n), np.random.rand(n)
((x**2 + y**2) < 1.0).sum() * 4 /n

np.float64(3.1444)

- 바빌로니안 방법으로 제곱근 계산 (결과적으로는 뉴튼 방법과 동일)

In [ ]:
def sqrt_newton(x, tolerance=1e-10):
    guess = x / 2
    while abs(guess**2 - x) > tolerance:
        guess = (guess + x / guess) / 2
    return guess

print("sqrt(2):", sqrt_newton(2))

sqrt(2): 1.4142135623746899

- 뉴턴 방법으로 제곱근 계산

In [ ]:
def sqrt_newton2(c, tolerance=1e-10):
    guess = c / 2
    while abs(guess**2 - c) > tolerance:
        guess = guess - (guess**2 - c) / (2 * guess)
    return guess

print("sqrt(2):", sqrt_newton2(2))

sqrt(2): 1.4142135623746899

- 문자열 회문 검사 (Palindrome Check)

In [ ]:
def is_palindrome(s):
    s = s.lower().replace(" ", "")
    return s == s[::-1]

print(is_palindrome("A man a plan a canal Panama"))  # True
print(is_palindrome("기러기"))  # True
print(is_palindrome("nomen"))

True
True
False

- 단어별 빈도수 세기 (텍스트 분석 기초)

In [ ]:
def word_count(text):
    words = text.lower().split()
    counts = {}
    for word in words:
        counts[word] = counts.get(word, 0) + 1  # my_dict.get(key, default_value)
    return counts

sample = "Python is easy and powerful. Python is fun."
print(word_count(sample))

{'python': 2, 'is': 2, 'easy': 1, 'and': 1, 'powerful.': 1, 'fun.': 1}

- 권장 코드 스타일

In [ ]:
import random

def generate_lotto_numbers(count=6, min_number=1, max_number=45):
    """
    로또 번호를 생성하는 함수.

    Parameters:
        count (int): 생성할 번호 개수 (기본값: 6)
        min_number (int): 번호의 최소값 (기본값: 1)
        max_number (int): 번호의 최대값 (기본값: 45)

    Returns:
        list: 정렬된 로또 번호 리스트
    """
    if count > (max_number - min_number + 1):
        raise ValueError("번호 범위보다 많은 숫자를 뽑을 수 없습니다.") # 의도적으로 예외 발생 (실행 중단)

    numbers = random.sample(range(min_number, max_number + 1), count)
    return sorted(numbers)

def main():
    try:
        lotto = generate_lotto_numbers()
        print("이번 주 로또 번호:", lotto)
    except ValueError as e:
        print("오류:", e)

# 이 파일이 프로그램의 시작점으로서 직접 실행되었는지 모듈로서 임포트되었는지 구분.
if __name__ == "__main__":
    main()

이번 주 로또 번호: [15, 22, 24, 30, 34, 36]

# Exercise

## Iterator and Generator
  - Iterator = "값을 하나씩 꺼낼 수 있는 객체"
  - Generator = "yield로 쉽게 만드는 iterator"

- iterator:
  - 특징: 모든 iterator는 한 번에 하나씩 값을 꺼낼 수 있음.
  - iter() 함수로 리스트를 iterator로 바꿨고, next()로 하나씩 꺼낼 수 있다.

In [50]:
# 리스트를 iterator로 변환
numbers = [1, 2, 3]
it = iter(numbers)   # iterator 생성

In [52]:
it[0]   # indexing 안됨

TypeError: 'list_iterator' object is not subscriptable

In [54]:
for i in it:   # 한번만 실행됨
    print(i)

In [55]:
for i in iter(numbers):  # 정상적인 사용방법
    print(i)

1
2
3

In [56]:
it = iter(numbers)

In [58]:
next(it)  # 한 번에 하나씩 , 그리고 모두 바닥나면 에러

2

- Generator
  - 정의: yield 키워드를 사용해 iterator를 자동으로 만들어주는 함수.
  - 특징: 메모리를 절약 (필요할 때 값 생성)
  - \_\_iter\_\_()와 \_\_next__()를 자동으로 구현

- generator는 함수 안에서 yield를 만나면 실행을 멈추고, 다음 next() 호출 시 멈춘 지점부터 다시 실행.

In [64]:
def my_generator():
    yield 1
    yield 2
    yield 3

gen = my_generator()

In [65]:
next(gen)   # 한 번에 하나씩 , 그리고 모두 바닥나면 에러

1

In [67]:
gen = my_generator()

for i in gen:
    print(i)

1
2
3

In [68]:
my_generator()